   <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h1>Welcome to the Library Management System</h1>
        <p class="lead">Manage your library collection with ease</p>
      </div>
    </div>
  
    <div class="row mt-5">
      <div class="col-md-4">
        <div class="mb-4">
          <img src="../../assets/Users.jpg" class="img-fluid" alt="Users">
          <div class="text-center d-grid gap-2">
            <button class="btn btn-outline-success" type="button" routerLink="user/list">Users</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-4">
          <img src="../../assets/Books.jpg" class="img-fluid" alt="Books">
          <div class="text-center d-grid gap-2">
            <button class="btn btn-outline-success" type="button" routerLink="book/list">Books</button>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mb-4">
          <img src="../../assets/Borrows.jpg" class="img-fluid" alt="Borrows">
          <div class="text-center d-grid gap-2">
            <button class="btn btn-outline-success" type="button" routerLink="/borrow/list">Borrows</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  