<h2>Users</h2>

<button routerLink="/user/create" class="btn btn-success mb-3">Add New User</button>

<table class="table table-striped">
  <thead class="table-info">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.firstname}}</td>
      <td>{{user.lastname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phone}}</td>
      <td>
        <button [routerLink]="['/borrow/', user.userId]" class="btn btn-primary me-2">Borrow Book(s)</button>
        
        <button [routerLink]="['/user/update', user.userId]" class="btn btn-warning me-2">Update</button>
        <app-user-delete [userId]="user.userId" (onDeleted)="getAllUsers()"></app-user-delete>
      </td>
    </tr>
  </tbody>
</table>
