  <!-- <h1>Borrow Book</h1>
  
  <form [formGroup]="borrowForm" (ngSubmit)="onSubmit()">
    <div class="mt-5" formArrayName="books">
      <div *ngFor="let bookControl of booksFormArray.controls; index as i" [formGroupName]="i">
        <mat-form-field class="example-full-width">
          <input formControlName="bookId" type="hidden">
          <input type="text" placeholder="Book Title" aria-label="Number" matInput [formControlName]="'title'" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onBookSelected($event, i)">
            <mat-option *ngFor="let book of books[i]" [value]="book.title">
              {{book.title}}
            </mat-option>
          </mat-autocomplete>          
        </mat-form-field>
        <button class="btn btn-danger ms-3" mat-button *ngIf="booksFormArray.length > 1" (click)="removeBookField(i)">Remove Book</button>
      </div>
    </div>
    <button class="btn btn-primary" mat-button (click)="addBookField()">Add another book</button>
    <button class="btn btn-success ms-3" type="submit" mat-button>Borrow</button>
  </form>
   -->