<h2>Books</h2>

<button routerLink="/book/create" class="btn btn-success mb-3">Add New Book</button>


<table class="table table-striped">
  <thead class="table-info">
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>ISBN</th>
      <th>Publisher</th>
      <th>Pages</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{book.title}}</td>
      <td>{{book.author}}</td>
      <td>{{book.isbn}}</td>
      <td>{{book.publisher}}</td>
      <td>{{book.pages}}</td>
      <td>{{book.status}}</td>
      <td>
        <button [routerLink]="['/book/update', book.bookId]" class="btn btn-warning me-2">Update</button>
        <app-book-delete [bookId]="book.bookId" (onDeleted)="getAllBooks()"></app-book-delete>
      </td>
    </tr>
  </tbody>
</table>
