<div class="container">
  <h1 *ngIf="author" class="text-center display-5"><span class="badge bg-dark">Books by {{ author.firstname }} {{ author.lastname }}</span></h1>

  <h4 *ngIf="author && books.length > 0; else noBooks" class="text-center">
    {{ author.firstname }} {{ author.lastname }} has {{ books.length }} {{ books.length === 1 ? 'book' : 'books' }}
  </h4>

  <ng-template #noBooks>
    <h4 class="text-center">
        {{ author?.firstname }} {{ author?.lastname }} has no books yet
    </h4>
  </ng-template>

  <hr>

  <button (click)="openCreateDialog()" class="btn btn-success mb-3">Add new book</button>

  <table class="table table-striped table-hover">
    <thead class="table-dark">
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>ISBN</th>
        <th>Publisher</th>
        <th>Pages</th>
        <th>Publication Year</th>
        <th>Quantity</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.title}}</td>
        <td>{{ isAuthorObject(book.author) ? (book.author.firstname + ' ' + book.author.lastname) : book.author }}</td>
        <td>{{book.isbn}}</td>
        <td>{{ isPublisherObject(book.publisher) ? book.publisher.name : book.publisher }}</td>
        <td>{{book.pages}}</td>
        <td>{{book.publicationYear}}</td>
        <td>{{book.quantity}}</td>
        <td>
          <button (click)="openUpdateDialog(book.bookId)" class="btn btn-outline-warning btn-sm mx-1">Update</button>
          <app-book-delete [bookId]="book.bookId" (onDeleted)="getBooksByAuthor(authorId)"></app-book-delete>
        </td>
      </tr>
    </tbody>
  </table>
</div>