<div class="container p-4">
    <h3>Update User: {{ user?.firstname }} {{ user?.lastname }}</h3>

    <form [formGroup]="userForm" (ngSubmit)="updateUser()">

        <div class="mb-3 form-group">
            <label for="firstname" class="form-label">Name:</label>
            <input id="firstname" type="text" class="form-control" formControlName="firstname" name="firstname" required>
        </div>
    
        <div class="mb-3 form-group">
            <label for="lastname" class="form-label">Surname:</label>
            <input id="lastname" type="text" class="form-control" formControlName="lastname" name="lastname" required>
        </div>
    
        <div class="mb-3 form-group">
            <label for="email" class="form-label">e-mail:</label>
            <input id="email" type="text" class="form-control" formControlName="email" name="email" required>
        </div>
    
        <div class="mb-3 form-group">
            <label for="phone" class="form-label">Phone:</label>
            <input id="phone" type="text" class="form-control" formControlName="phone" name="phone" required>
        </div>
    
        <div class="mb-3 form-group">
            <button type="submit" class="btn btn-primary">Update User</button>
            <button type="button" class="btn btn-secondary ms-3" (click)="onCancelClick()">Cancel</button>
        </div>

    </form>

</div>