   <h2>Borrows List</h2>
   
   <!-- <button routerLink="/user/list" class="btn btn-success mb-3">Borrow a book to a user</button> -->

   <table class="table table-striped">
    <thead class="table-info">
      <tr>
        <th>Borrow ID</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
        <th>Returned</th>
        <th>Borrowed Books</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let borrow of borrows">
        <td>{{ borrow.borrowId }}</td>
        <td>{{ borrow.borrowDate }}</td>
        <td>{{ borrow.returnDate }}</td>
        <td>{{ borrow.returned === 0 ? 'Not Returned' : 'Returned' }}</td>
        <td *ngFor="let borrowedBook of borrow.borrowedBooks">{{ borrowedBook.book?.title }}</td>
        <td>
          <ng-container *ngFor="let borrowedBook of borrow.borrowedBooks">
            <button class="btn btn-primary" *ngIf="borrow.returned === 0" (click)="returnBook(borrowedBook.id)">Return</button>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  
  
  
  
  
  
  